# ----------------------------------------
# 核心 Python 编译和运行时文件
# ----------------------------------------
__pycache__/
*.pyc
*.pyd
*.pyo

# ----------------------------------------
# 虚拟环境 (Virtual Environments)
# ----------------------------------------
# 如果您使用虚拟环境，请忽略整个环境文件夹
venv/
.venv/

# ----------------------------------------
# VS Code / IDEs
# ----------------------------------------
# 忽略 VS Code 自动生成的本地设置
.vscode/

# ----------------------------------------
# PyInstaller 打包输出文件
# ----------------------------------------
# 最终的可执行文件和依赖所在的目录
dist/
# 打包过程中的临时工作目录
build/
# PyInstaller 配置文件（如 FilesTool.spec）
*.spec

# ----------------------------------------
# 操作系统和临时文件
# ----------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db